.page-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left-side-content {
	flex: 1;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 2%;
	border-radius: 5%;
}

.left-side-content .user-preview {
	display: flex;
	flex-direction: column;
	border: 1px hidden black;
	box-shadow: 2px 1px 10px 1px grey;
	border-radius: 2%;
	padding: 2%;
}

.left-side-content .user-preview .upper-preview {
	display: flex;
}

.left-side-content .user-preview .upper-preview p {
	margin-top: 30px;
	margin-left: 30px;
	font-weight: bold;
}

.left-side-content .user-preview .upper-preview img {
	width: auto;
	height: auto;
	max-width: 196px;
	max-height: 196px;
	border-radius: 50%;
}

.left-side-content .user-preview .post-entry {
	margin-top: 50px;
}

.left-side-content .user-preview .post-entry p {
	margin-bottom: 0;
}

.left-side-content .user-preview .post-entry .post-input {
	margin-top: 0;
	width: 75%;
}

.center-timeline {
	margin-top: 15px;
	flex: 2;
}

.right-side-content {
	flex: 1;
}

.user-post {
	border: 1px hidden black;
	border-radius: 4px;
	box-shadow: 2px 1px 10px 1px grey;
	padding: 10px;
	padding-bottom: 4px;
	margin-bottom: 15px;
}

.user-post .post-username {
	font-weight: bold;
	font-size: small;
}

.user-post .post-content {
	margin-top: -10px;
	margin-bottom: 0;
	line-height: 18px;
}

.user-post .post-image img {
	padding: 2px;
	height: auto;
	width: auto;
	max-height: 450px;
	max-width: 450px;
	border-radius: 18px;
}

.user-post .post-interaction {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.user-post .post-interaction .post-icons {
	height: 14px;
	width: auto;
}

.user-post .post-interaction .post-int-text {
	margin-left: 4px;
}