.page-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left-side-content {
	flex: 1;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 2%;
	border-radius: 5%;
}

.left-side-content .user-preview {
	display: flex;
	flex-direction: column;
	border: 1px hidden black;
	box-shadow: 2px 1px 10px 1px grey;
	border-radius: 2%;
	padding: 2%;
}

.left-side-content .user-preview .upper-preview {
	display: flex;
}

.left-side-content .user-preview .upper-preview p {
	margin-top: 30px;
	margin-left: 30px;
	font-weight: bold;
}

.left-side-content .user-preview .upper-preview img {
	width: auto;
	height: auto;
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}

.left-side-content .user-preview .post-entry {
	margin-top: 50px;
}

.left-side-content .user-preview .post-entry p {
	margin-bottom: 0;
}

.left-side-content .user-preview .post-entry .post-input {
	margin-top: 0;
	width: 75%;
}

.center-timeline {
	margin-top: 15px;
	flex: 2;
}

.right-side-content {
	flex: 1;
}

.user-post {
	border: 1px hidden black;
	border-radius: 4px;
	box-shadow: 2px 1px 10px 1px grey;
	padding: 10px;
	padding-bottom: 4px;
	margin-bottom: 15px;
}

.user-post .post-username {
	font-weight: bold;
	font-size: small;
}

.user-post .post-content {
	margin-top: -10px;
	margin-bottom: 0;
	line-height: 18px;
}

.user-post .post-image img {
	padding: 2px;
	height: auto;
	width: auto;
	max-height: 450px;
	max-width: 450px;
	border-radius: 18px;
}

.user-post .post-interaction {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.user-post .post-interaction .post-icons {
	height: 14px;
	width: auto; 
}


.user-post .post-interaction .post-int-text {
	margin: 1.1%;
    padding: 0%;
}

/*
.user-post .button{
	background-color: white;
	border: none;
	color: lightgrey;
	padding: 8px 8px;
	font-size: 16px;
	cursor: pointer;
}

.user-post .button:hover{
	color: grey;
}

.user-post .button:active{
	color: red;
}

.user-post .button{border-radius: 50%;}
*/

/* This makes the size of the heart/animation */
:root {
	--size: 50px;
	--frames: 62;
}

/* This makes so that the checkmark boxes are not visable */
input {
	display: none;
}

/* This creates the outer circle of the heart button */
.like {
	display: block;
	width: var(--size);
	height: var(--size);
	cursor: pointer;
	border-radius: 999px;
	overflow: visible;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

/* This is the heart images it self. 
   It grabs the image from the url and displays it as an animation.
   It goes step by step. */
.hearth {
	background-image: url('https://assets.codepen.io/23500/Hashflag-AppleEvent.svg');
	background-size: calc(var(--size) * var(--frames)) var(--size);
	background-repeat: no-repeat;
	background-position-x: calc(var(--size) * (var(--frames) * -1 + 2));
	background-position-y: calc(var(--size) * 0.02);
	width: var(--size);
	height: var(--size);
}

/* This makes it so when the checkbox is pressed.
   The image goes frame by frame like an animation. */
input:checked + .hearth {
	animation: like 1s steps(calc(var(--frames) - 3));  
	animation-fill-mode: forwards;
}

/* This is what makes the image go foward. */
@keyframes like {
	0% {
	  background-position-x: 0;
	}
	100% {
	  background-position-x: calc(var(--size) * (var(--frames) * -1 + 3));
	}
}

/* This is when you hover over the heart, 
   it shows that light red circle on top of the image.*/
@media (hover: hover){
	.like:hover {
	  background-color: #E1255E15;
    }
	.hearth:hover {
		background-position-x: calc(var(--size) * (var(--frames) * -1 + 1));
	}
}