.page-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left-side-content {
	flex: 1;
}

.center-timeline {
	flex: 2;
}

.right-side-content {
	flex: 1;
}

.user-post {
	border: 1px hidden;
	box-shadow: 5px black;
	padding-top: 10px;
}

.user-post .post-username {
	font-size: small;
}

.user-post .post-content {
	margin-top: -20px;
	margin-bottom: -5px;
}