.page-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.left-side-content {
	flex: 1;
}

.center-timeline {
	margin-top: 15px;
	flex: 2;
}

.right-side-content {
	flex: 1;
}

.user-post {
	border: 1px hidden black;
	border-radius: 4px;
	box-shadow: 2px 1px 10px 1px grey;
	padding: 10px;
	padding-bottom: 4px;
	margin-bottom: 15px;
}

.user-post .post-username {
	font-weight: bold;
	font-size: small;
}

.user-post .post-content {
	margin-top: -10px;
	margin-bottom: 0;
	line-height: 18px;
}

.user-post .post-image img {
	padding: 2px;
	height: auto;
	width: auto;
	max-height: 550px;
	max-width: 550px;
	border-radius: 18px;
}

.user-post .post-interaction {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.user-post .post-interaction .post-icons {
	height: 14px;
	width: auto;
}

.user-post .post-interaction .post-int-text {
	margin-left: 4px;
}

/*this is the color for the button*/
.user-post .button{
	background-color: white;
	border: none;
	color: lightgrey;
	padding: 8px 8px;
	font-size: 16px;
	cursor: pointer;
  }
  
  /*when you hover over the button change it a grey color*/
  .user-post .button:hover{
	color: grey;
  }
  /*when button pushed, change color*/
  .user-post .button:active{
	color: red;
  }
/*make the button oaval shape*/
  .user-post .button{border-radius: 50%;}