<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/css/home.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="/static/images/icons/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Canary - Home</title>
</head>
<body>
    {% extends 'navbar.html' %}
    {% block content %}
    <div id="preloader">
        <div class="preload-image">
            <img class="favicon" src="/static/images/icons/favicon.png">
        </div>
    </div>

    <script>
        const preloader = document.getElementById("preloader");

        const fadeEffect = setInterval(() => {
            preloader.style.display = "none";
            clearInterval(fadeEffect);

        }, 2000);

        window.addEventListener('load', fadeEffect);
    </script>
        <div class="page-content">
            <div class="left-side-content">
                <div class="user-preview">
                    <div class="upper-preview">
                        <img src="/static/images/unknown_img.png">
                        <a href="{{ url_for('view_user', username=user['username'])}}" ><p>
                            @{{ user["username"] }}
                        </p></a>
                    </div>
                    <div class="post-entry">
                        <p>Create new post</p>
                        <input class="post-input form-control me-2" type="text" placeholder="Enter text" aria-label="Post Entry" name="post-entry">
                    </div>
                </div>
            </div>
            <div class="center-timeline">
                {% for post in timeline %}
                    <div class="user-post">

                        <a href="{{ url_for('view_user', username=post[0]) }}" style="text-decoration: none;">
                            <p class="post-username">
                                @{{ post[0] }}
                            </p>
                        </a>
                        
                        {% if post[1][0] != "" %}
                            <p class="post-content">{{ post[1][0] }}</p>
                        {% endif %}

                        {% if post[1][3] != "" %}
                            <div class="post-image">
                                <img src="static/images/post/{{ post[0] }}/{{ post[1][3] }}">
                            </div>
                        {% endif %}
                        <div class="post-interaction">
                            <!--<a><img class="post-icons" src="/static/images/icons/love.png"></a>-->
                            <!-- for filled heart: /static/images/icons/heart.png -->
                            <!--button class to create the button-->
                            <label class="like">
                                <input type="checkbox"/>
                                <div class="hearth"></div>
                              </label>
                            <!--old verson of the button-->
                            <!--<form method="/" >
                                <input type="checkbox">
                                <button class="button" id="button">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </form>-->
                            <p class="post-int-text">{{ post[1][1] }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="right-side-content">
            </div>
        </div>
    {% endblock %}
</body>
</html>