{{ bootstrap.load_css() }}
<nav class="navbar navbar-light" style="background-color: #062a77;">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="{{ url_for('homePage') }}">
          <img width="30" height="30" src="/static/images/icons/favicon.png">
          <b style="margin-left: 2px;">Canary</b>
        </a>
        <form action="/view_profiles" method="POST" class="d-flex">  
          <input class="form-control me-2" type="search" placeholder="@username" aria-label="Search" name="search-user">
        </form>
      </div>
</nav>

{% block content %}
{% endblock %}