<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
</head>
<body>
  {% extends 'home.html' %}
  {% block content %}

    <div class="container">
      {% for info in user_data %}
        {% if user.lower() == info['username'] %}
          <h1>User: @{{ user.lower() }}</h1>
          <h1>Bio: {{ info['description'] }}</h1>
        {% endif %}
      {% endfor %}  
    </div>

  {% endblock %}
</body>
</html>